.social-login-container
    button.social-login-container__button--github
        span
            <i class="fab fa-github"></i>
        |Continue with Github
    button.social-login-container__button--facebook
        span
            <i class="fab fa-facebook"></i>
        |Continue with Facebook