{
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": [ "**/*.css", "**/*.scss", "**/*.html", "**/*.pug" ],
            "options": {
                "singleQuote": false
            }
        }
    ]
}