extends layouts/main

block content
    .form-container
        form(action=routes.editVideo(video.id), method="post")
            input(type="text", name="videoTitle", placeholder="Title", value=video.title)
            textarea(name="videoDescription", placeholder="Description")=video.description
            input(type="submit", value="Update Video")
        a.form-container__link(href=routes.deleteVideo(video.id)) 
            button.form-container__delete Delete Video