extends layouts/main
include mixins/video-block

block content
    .videos-container
        each video in videos
            +videoBlock({
                videoFile: video.videoFile,
                title: video.title,
                views: video.views
            })
            