extends layouts/main
include mixins/video-block

block content
    .home-videos-container
        each videoItem in videos
            +videoBlock({
                videoIdMold: videoItem.id,
                videoFileUrlMold: videoItem.fileUrl,
                titleMold: videoItem.title,
                viewsMold: videoItem.views
            })
            