extends layouts/main
include mixins/video-block

block content
    .videos-container
        each videoItem in videos
            +videoBlock({
                videoFileMold: videoItem.videoFile,
                titleMold: videoItem.title,
                viewsMold: videoItem.views
            })
            