extends layouts/main
include mixins/video-block

block content
    .search-header
        h1 Searching for: #{searchingFor}
    .search-videos
        if videos.length === 0
            h2 No Videos Found
        each videoItem in videos
            +videoBlock({
                videoIdMold: videoItem.id,
                videoFileUrlMold: videoItem.fileUrl,
                titleMold: videoItem.title,
                viewsMold: videoItem.views
            })