mixin avatarMixin(itemUrl, kind)
    if (!itemUrl || itemUrl === "")
        if kind === "profile"
            i.fas.fa-user.shared__user-font
        else
            i.fas.fa-user(class=`shared__user-font--${kind}`)
    else
        if kind === "profile"
            img.shared__avatar(src=`/${itemUrl}`)
        else
            img.shared__avatar(src=`/${itemUrl}`, class=`shared__avatar--${kind}`)
