mixin avatarMixin(itemUrl, kind)
    if (!itemUrl || itemUrl === "")
        if kind === "profile"
            i.fas.fa-user.avatar-mixin__user-font
        else
            i.fas.fa-user(class=`avatar-mixin__user-font--${kind}`)
    else
        if kind === "profile"
            img.avatar-mixin__img(src=`/${itemUrl}`)
        else
            img.avatar-mixin__img(src=`/${itemUrl}`, class=`avatar-mixin__img--${kind}`)
