form {
    max-width: 420px;
    padding: 30px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba($color: #fff, $alpha: 0.2);
    border-radius: 10px;
    label {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
    }
}

input:not(input[type="range"]) {
    all: unset;
    width: 90%;
    height: 20px;
    padding: 14px 20px;
    margin-bottom: 6px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    &::placeholder {
        color: rgba(255, 255, 255, 0.7);
    }
}

input[type="submit"] {
    color: rgba($color: $red, $alpha: 0.9) !important;
    text-align: center !important;
    background-color: white !important;
}
