.shared__video-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(260px, 360px));
    gap: 50px;
}

.shared__empty-message {
    margin-bottom: 50px;
    font-size: 18px;
    text-align: center;
}

.shared__auth-switch {
    margin-top: 40px;
    text-align: center;
    a {
        text-decoration: underline;
    }
}

.shared__user-font {
    font-size: 144px;
}

.shared__user-font--header {
    font-size: 38px;
}

.shared__user-font--video {
    font-size: 40px;
}

.shared__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.shared__avatar--header {
    width: 40px;
    height: 40px;
}

.shared__avatar--video {
    width: 42px;
    height: 42px;
}
