.shared__video-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 50px;
}

.shared__empty-message {
    margin-bottom: 50px;
    font-size: 18px;
    text-align: center;
}

.shared__auth-switch {
    margin-top: 40px;
    text-align: center;
    a {
        text-decoration: underline;
    }
}

.shared__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
