extends ./main.pug

block content
    h1 edit video page

//-     /editVideoController\             main.pug
//-     --------------------------            ^
//-    |                          |           ^
//-    | res.render('edit-video') | > > edit-video.pug
//-    |                          |
//-     --------------------------