extends ./main.pug

block content
    h1 home page
    p potato: #{potato}

//-     /homeController\          main.pug
//-     --------------------         ^
//-    |                    |        ^
//-    | res.render('home') | > > home.pug
//-    |                    |
//-     --------------------