extends ./main.pug

block content
    h1 home page
    h2 Welcome here you will see the trending videos
    p potato: #{potato}
    input(placeholder="What's your name?")
    button send

//-     /homeController\          main.pug
//-     --------------------         ^
//-    |                    |        ^
//-    | res.render('home') | > > home.pug
//-    |                    |
//-     --------------------