extends ./main.pug
include ./mixins/video-mixin.pug

block content
    .home__video-grid
        each item in videosDB
            +videoMixin(item)
        else
            div Nothing found

//-     /homeController\          main.pug
//-     --------------------         ^
//-    |                    |        ^
//-    | res.render('home') | > > home.pug
//-    |                    |
//-     --------------------
