extends ./main.pug

block content
    if errorMessage
        span= errorMessage
    form(method="post")
        input(type="text", placeholder="ID", name="userID", required)
        input(
            type="password",
            placeholder="Password",
            name="password",
            required
        )
        input(value="Login", type="submit")
        include ./partials/social-login.pug
    div
        span Don't have an account? &nbsp;
        a(href="/join") Create one now &rarr;
