include ./mixins/message-mixin.pug

doctype html
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>#{ pageTitle } | #{ siteName }</title>
        //- <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        if messages.error
            +messageMixin("error", messages.error)
        if messages.warn
            +messageMixin("warn", messages.warn)
        if messages.success
            +messageMixin("success", messages.success)
        if messages.info
            +messageMixin("info", messages.info)
        include ./partials/header.pug
        <main>
            block content
        </main>
        include ./partials/footer.pug
        script(src="/static/js/main.js")
        block scripts
    </body>
</html>
