extends ./main.pug
include ./mixins/video-mixin.pug

block content
    form.search__form(method="get")
        input(type="text", placeholder="Search by title", name="keyword")
        //- input(value="Search now", type="submit")
        button
            i.fas.fa-search
    .shared__video-grid
        each item in searchVideosDB
            +videoMixin(item)
        else
            span.shared__empty-message No videos found.
