mixin videoBlock(video={})
    .video-block
        video.video-block__thumbnail(src=video.videoFile, controls=true)
        span.video-block__title=video.title
        span.video-block__views=video.views