extends ../main.pug
include ../mixins/video-mixin.pug

block content
    .user-profile__data
        img.shared__avatar(src=`/${userDB.avatarUrl}`)
        span= userDB.userName
    .shared__video-grid
        each item in userDB.userVideos
            +videoMixin(item)
        else
            span.shared__empty-message No videos found.
